{% extends 'base.html' %}

{% block app_content %}
    {#    <h1>{{ page_name }}</h1>#}
    <div>
        <p>
            {{ movies_dir }}
        </p>
        {#        <p>{{ movies.id }}</p>#}
        <h1>{{ movies.title }}</h1>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <img class='main-img' src="https://image.tmdb.org/t/p/w500/{{ movies.poster_path }}"
                     style="height: 70%; width: 75%"
                     alt="">
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div>
                    <p><b>Original Title:</b> {{ movies.original_title }}</p>
                </div>
                <div>
                    <p><b>Release Date:</b> {{ movies.release_date }} {% if movies.runtime %}| <b>Runtime: </b>
                        {{ movies.runtime }}{% endif %} {% if movies_meta.genre_list %}| <b>Genres: </b>{{ movies_meta.genre_list  }}{% endif %}</p>
                </div>
                {% if movies_meta.formatted_revenue %}
                    <div>
                        <p><b>Revenue: </b>{{ movies_meta.formatted_revenue }}</p>
                    </div>
                {% endif %}
                {% if movies.overview %}
                    <div>
                        <p><b>Overview: </b><a href="{{ movies.overview }}">{{ movies.overview }}</a></p>
                    </div>
                {% endif %}

                {% if movies.homepage %}
                    <div>
                        <p><b>Homepage: </b><a href="{{ movies.homepage }}">{{ movies.homepage }}</a></p>
                    </div>
                {% endif %}

                <div>
                    <p>
                        <b>Efficiency -> </b>
                        {% if movies_meta.avg_rating %}
                            <b>Avg Rating:</b> {{ movies_meta.avg_rating }} vs <b>Cost:</b>
                            {{ movies_meta.formatted_budget }}
                        {% else %}
                            <b>Cost:</b> {{ movies_meta.formatted_budget }}, <b>Avg Rating:</b> Unavailable
                        {% endif %}
                    </p>
                </div>

                <div>
                    <p><b>Director</b></p>
                    <p><b>Writers</b></p>
                    <p><b>Stars</b></p>
                </div>
                {% if movies_meta.spoken_languages %}
                    <div>
                        <p><b>Spoken Languages: </b> {{ movies_meta.spoken_languages }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="container">
            <h3>{{ movie_collection.name }}</h3>
            <h5>More from collection:</h5>
            <div class="row">
                {% for related_film in movies_meta.related_films %}
                    <a href="{{ url_for('movies', m_id=related_film.id) }}">
                        <div class="col-sm-3">
                            <div class="card">
                                <img class="related-film-img" style="width: 50%; height: 30%;"
                                     src="https://image.tmdb.org/t/p/w500/{{ related_film.poster_path }}" alt="">
                                <div class="card-body">
                                    <h5 class="card-title"></h5>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ related_film.title }}</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}