{% extends 'base.html' %}

{% block app_content %}
    <div>
        <h1>{{ movie.movie_obj.title }}</h1>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <img class='main-img' src="https://image.tmdb.org/t/p/w500/{{ movie.movie_obj.poster_path }}"
                     style="height: 70%; width: 75%"
                     alt="">
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div>
                    <p><b>Original Title:</b> {{ movie.movie_obj.original_title }}</p>
                </div>
                <div>
                    <p><b>Release Date:</b> {{ movie.movie_obj.release_date }} {% if movie.movie_obj.runtime %}| <b>Runtime: </b>
                        {{ movie.movie_obj.runtime }}{% endif %} {% if movie.genre_list %}| <b>Genres: </b>
                        {{ movie.genre_list }}{% endif %}</p>
                </div>
                {% if movie.formatted_revenue %}
                    <div>
                        <p><b>Revenue: </b>{{ movie.formatted_revenue }}</p>
                    </div>
                {% endif %}
                {% if movie.movie_obj.overview %}
                    <div>
                        <p><b>Overview: </b><a href="{{ movie.movie_obj.overview }}">{{ movie.movie_obj.overview }}</a></p>
                    </div>
                {% endif %}

                {% if movie.movie_obj.homepage %}
                    <div>
                        <p><b>Homepage: </b><a href="{{ movie.movie_obj.homepage }}">{{ movie.movie_obj.homepage }}</a></p>
                    </div>
                {% endif %}

                <div>
                    <p>
                        <b>Efficiency -> </b>
                        {% if movie.avg_rating %}
                            <b>Avg Rating:</b> {{ movie.avg_rating }} vs <b>Cost:</b>
                            {{ movie.formatted_budget }}
                        {% else %}
                            <b>Cost:</b> {{ movie.formatted_budget }}, <b>Avg Rating:</b> Unavailable
                        {% endif %}
                    </p>
                </div>

                <div>
                    {% if movie.directors %}
                        <p><b>Director:</b>
                            {% for director in movie.directors %}
                                <a href="{{ url_for('talent', talent_id=director[1]) }}">{{ director[0] }}</a><br>
                            {% endfor %}
                        </p>
                    {% endif %}

                    {% if movie.cast %}
                        <p><b>Featuring:</b></p>
                        <ul>
                            {% for actor in movie.cast %}
                                <li>
                                    <a href="{{ url_for('talent', talent_id=actor[1]) }}">{{ actor[0] }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                {% if movie.spoken_languages %}
                    <div><br>
                        <p><b>Spoken Languages: </b> {{ movie.spoken_languages }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
        {% if movie.related_films %}
            <div class="container">
                <h3>{{ movie.movie_collection.name }}</h3>
                <h5>More from collection:</h5>
                <div class="row">
                    {% for related_film in movie.related_films %}
                        <a href="{{ url_for('movies', m_id=related_film.id) }}">
                            <div class="rf-row col-sm-3 col-md-3 col-lg-3">
                                <img class="related-film-img"
                                     src="https://image.tmdb.org/t/p/w500/{{ related_film.poster_path }}" alt="">
                                <p class='rf-title'><strong>{{ related_film.title }}</strong></p>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}