{% extends 'base.html' %}

{% block app_content %}
    <h1>{{ talent_data.name }}</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <img class='main-img' src="https://image.tmdb.org/t/p/w500/{{ talent_data.profile_path }}"
                     style="height: 70%; width: 75%"
                     alt="">
            </div>
            <div class="col-sm-8 col-md-8">
                {% if cast_data %}
                    {% if cast_data.primary_roles %}
                        <h3>Cast</h3>
                        <h5>Primary Roles</h5>
                        <ul>
                            {% for role in cast_data.primary_roles %}
                                <li><b>{{ role[0] }}</b> - <a
                                        href="{{ url_for('movies', m_id=role[2]) }}">{{ role[1] }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endif %}

                {% if crew_data %}
                    {% if crew_data.crew_roles %}
                        <h3>Crew</h3>
                        <h5>Credits</h5>
                        <ul>
                            {% for role in crew_data.crew_roles %}
                                <li><b>{{ role[2] }}</b> - <a
                                        href="{{ url_for('movies', m_id=role[0]) }}">{{ role[1] }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endif %}

                {% if talent_data.cumulative_revenue %}
                    <h4>Cumulative Revenue: </h4>
                    <p>{{ talent_data.cumulative_revenue }}</p>
                {% endif %}

                {% if talent_data.average_rating %}
                    <h4>Rating Across Filmography:</h4>
                    <p> {{ talent_data.average_rating }}</p>
                {% endif %}

                {% if talent_data.genres %}
                    <h4>Genres: </h4>
                    <p>{{ talent_data.genres }}</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}